<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cancan.usercenter.mapper.LessonQuestionMapMapper">

    <resultMap id="BaseResultMap" type="org.cancan.usercenter.model.domain.LessonQuestionMap">
        <result property="lessonId" column="lesson_id"/>
        <result property="questionId" column="question_id"/>
    </resultMap>

    <!--    <sql id="Base_Column_List">-->
    <!--        lesson_id,question_id-->
    <!--    </sql>-->
</mapper>
