<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cancan.usercenter.mapper.LessonsMapper">

    <resultMap id="BaseResultMap" type="org.cancan.usercenter.model.domain.Lessons">
        <id property="lessonId" column="lesson_id"/>
        <result property="courseId" column="course_id"/>
        <result property="lessonName" column="lesson_name"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--    <sql id="Base_Column_List">-->
    <!--        lesson_id,course_id,lesson_name,create_time-->
    <!--    </sql>-->
</mapper>
